
@media print {
html, body {
    height: 100%;
}
body * {
    visibility: hidden;
}
section, nav, footer, .adsbygoogle {
    display: none !important;
}
#printable {
    visibility: visible;
    object-fit: contain;
    position: absolute;
    border: unset;
    height: 100%;
    width: 100%;
    inset: 0;
}
}

@media screen and (max-width: 768px) {
.logo {
    margin: 0 auto !important;
}
#___gcse_0 {
    display: none !important;
}
.title {
    background-image: unset !important;
    background-color: #eee;
    height: unset !important;
    padding: 30px !important;
}
.container {
    flex-direction: column-reverse !important;
    height: unset !important;
}
.page {
    width: 100% !important;
}
.tower_r {
    width: 100% !important;
    margin-left: unset !important;
    margin-top: 25px;
}
.grid, .categories {
    flex-direction: column;
    flex-wrap: nowrap !important;
}
h1, h2 {
    text-align: center;
}
}
body {
    margin: 0;
    padding: 0 !important;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    overflow-x: hidden;
}
header {
    height: 90px;
    display: flex;
    align-items: center;
}
footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    box-shadow: 0 100vmax 0 100vmax #eee;
}
footer a {
    color: #333;
}
button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    cursor: pointer;
    border: unset;
    color: #fff;
}
h1 {
    font-size: 20px;
    margin: 0;
}
h2 {
    font-size: 20px;
    margin: 0 30px;
}
ul {
    margin: 0;
}
li {
    display: block;
    flex: auto;
}
a, a:visited {
    color: #fff;
    text-decoration: none;
}
p {
    text-align: justify;
    margin: 0;
}
.logo {
    width: 180px;
    height: 60px;
    display: block;
    margin: 0 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAqYAAADmCAMAAAAwYrfoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACRQTFRF////MzMzzDMzZswz/5kzM5nM/8wzmZmZZmZmmWYAzMzMAAAAzPCCkgAAGbBJREFUeNrsnduCqyoMhs1qO8T4/u+7ph4BOSQIHbXJ1dp7WivwkYTTT9epqamp1TcisxiRVofaCRE1CINlAKikqp3LDA4BA6M1o3YeTxqEVEG9YEg0Bie7X95mYInz/WYw/0/Uxr9m1na3vM1MZeqfnvW9cnrxrO239e4CKkEQ0tFAOb1UPHy35K8TBbD8Kt6H0jCkb4/6Lqjmpyc3XGI8PjZDnGHFuxQRn88Up6AgXIBSG9EV1RHUG7TfOzGFZ8JQ3ekVxhbwCBvew59iKuQv+am60zMbJCidOb26n6GcM53CvrrTk8fDxyPJKdyhjGlM3+5UB/vndqaYwPTx/sDFp6XyMV+j/vnjYZLS0Z3i9btiDtP++r3x5jH/kbbrR33Ix3zF9OzxEDKYXj/qczHVMdSFMb3+nKJieoMRlGI6mmJ67hZExVQxVUw16KspprwEfFBMFdOTm9F5U8X0/Ea6CqWY3iM51TV9xfQMyWmvqaliev6oDxrzr9t+34Hp6E5BnemV3cw3YJo+sjdSqpnptTF93MHTTEdp4hF/AJ2NUkzPwmnIofag+jyK6Wk4nY7J9r2redKDqkgppmfLTydFAgDse9xkMzTiK6Znc6g3liBSTO9R3ACoKsTr1JClyvjWZawmzEibSPfvP+kUmFq64Z+UDifK18BbeXCVkITflqDajbw0RVe5falxPf7WDEKgGx+tpPdzdw+WPbQ+pqGyvnkoLimrlawqZvwWEQdo4Rcs/gfui2RLjo7sHBx+ZKLZYEjZ7w+XPhdSD6U/wJQwVdiCKvaZD1cWBTpGKpIT8Tkd+c+jF23l4pSCYo8My87+9mWE1VDmAMn7qfU5B9svx/44LuA8tCKmTt631RiU98ngiAf8YkWkWSN8WA4K5qCfAhq95gs+mTBQ8sQbixt4V5H+I0M8cDuI1W7v+nj55ngKQftZtfJ++3+O2cVhvGg1TDdYRtFwb27SKinbvViIuM3kzHFuUuXgV0FgLjQMfvSNMOZeMPSe70mu5/Nnsnext/kuoUs12xcdMc/H5tntR8YmMDgzGGQ98RW3rQHRyFrPB9RhlX35AVTB1Na1jy2b97KSGgiUcn6E8aZC91URlGaNNmd4PZ9m37mx90tfP4tpktcc0G8f+rE+DvI5r7Uyww2zoro8Ehei1w9seToxIU0yunhVCfwLf/8ytg5nTXNM13rNHuQA9tUhJlZKsDjFRFXslcpxjWz7KyIC7TlRGqCvt7YAzEXH/idmS6G561zLIkSqVdB+JEaEP6fiEscV5BldfOowMBQa166bhdQGNUn/cUyJC+nsU1ldcpLKj/NnNVC0+F6FYmCtdHsjCNXMAM8geTD3gLk98PmTtF4gu23ykFqg4pS2hT8+fgayNLEhtUBFDvz/2Ja/TuYwpkYAqeNSk10SE+VcnBlkKsNtJRyiW/n6UB2ZKKUzp2bJCjKQjqByl2Rnch55wzlcYAJqSFXzvMdBAukGarwohFJIN1DjTz2KKQohtUBNtNroIpJlmtpnyJYd7d7U86+ImDaoprBDM12O8sOxJ7BSReBCukA4pEWUE2cS5kDwkhumimKgANK3pX3XMUznehVBuoEKpsSZTkWCPKXT52gL4b3gighMUfrzsybZzx+m9XlOp9rEB9eWcUrBjnYqc6WzxffnmqGQ0sio13rdckxNGaTrXUyxbIQyCC6QcLqosUK44JDJ2w9lo7iA0oXTXFoKD4HlU4TIedm5Q7xKLZb1Iq9ZUs2K1b3pAUoXh4rRBoN8hGAVHFbqcgpS6L1BKpw/p172I7EMp3JKlxs80h+A2E+VUzpxihEX/e9ffU4PYIrDwJEQSztUiMX8fCLDLDd1HD0JL4sb5XxSzEGG4yinmErHhZTOUt6Zv1OY0tchC4zODlM6cwpVMZ168vOA9YmXyg+OuIm56TjqPJ42Tybmj8jhz08JpyYxA/d4FHCaaztqQOnrtW+645TODggqYooDQ/GmkFPIFRe49TG7L8y7fbeQkKOwF+WlNqcQS75KKP3NPiE3HWBaUPraaYhXoXTiFKthWoPSyIwlC1NgRxHoCsR5IBfSn+KQP1rsvg0spfSBKMN0ctuv4+aVBOtQGuG0ENM6lMY4ZWD6T4Ip8TAFpy0zmBZROuW0FB4zPlrYbqhfi9KXm82bWpTuVg8PYGoqURq+fJnyMR1kmEoV+fKYllofGyK3oXSHKdai9OWMzhKL20Wc+rOyRZhSNUpnTmn3+HpFLsJ0aIXpT2jsjaJZ/SOYjv7lVcdsLLBek7mrh0cwhWMzUbkVoOqYmhJMn20wfe5HUdQs5PuYjk4P62GK3IluOafmMKZ4YFY/Mn+Kf45p/yFMA+4U2jlTD1OsSOlrezQdWXvKrHIXY1oz5C9zQU7D1cUUT4bpM9grH5/A1FRLTF1Moa4zDYT9AkyrhvyQHt69Mf3xty1h/j7OSpjWDPkWpqY2pfuwL8fU1Hamz6f3UhUxnR58Lkz7QGlbYgptnOmGKVQO+UvYP4QpVKf06Q0rqmNKp8LUi/oNh/keplBvlG8PoRo40203RimmWDvk7/fREdQq99xI58L0Zzep0M6Z2kG/sjNd97K2cKa+OxVj2sKZeu60KqbIxBQ/h6mzzcU0daY2ppWd6eLvmjhTLzsVb4s2LZyp507rYTo/tcib9j8to749Md7QmVqYVnama8xv40zXXUNlmLZxpq47rYYpzNNvJ8P0x24BaOpMLUyrzpluMb+RM3WzU6nqCbVxptNgn9hbT4QdsijoN8TUSk5JOBuFWIopVHemUH2ZNBb1pZhiI2fqRv1KmC7O9HSYWsmp4cd8xLQcShpTqutMF4ioVcx3BlFSTKGRM3XX1OtgunXHE2PKTk3R04yTYopVB1BQNBs16XCVRH0ZpiRwpm/lm53sGeuUR515U2vB7WyYWmMobmq6k78CIaaCmL+47aBAn3eyFNnO1JLgA3HUl2FquJj2tjBgzx1EYUVM7V2LrTF9ToJUT8kYykhS00VGZ9QjXiASYcqP+Z4OJ6bP6XNjvi8WLRzryzBFZsz3X6oXRf0KmHqyeS0xfVo6nr10qG9YmKInvjEJ6YEEU8PENCAWCyF5HkumA3jEze55qS3+4owcU15q2m/inIuCYS+J+kcxBV+rouWElCfU23OH+shPTTGgHcQ9PLX8EjM1hUUWelT8D8lKuhpSvKZy1YtntUqQJKciTHmpae++lIGB/TVThmlI3h283R1tMH1uWdzSIetjOsTOTAIfU15qujuHZNCS/ce9DLFh+UVfgpFw4H7PFGDKSk33YknM832FmEJeKLkZptNtp8tvTW3a81zwpsbCkowIH0YVYYosSoGSuu5e3RqmRJLfzVCmrSTGFFh5KZac8BvsKT44Aqkv8d8MU79dDVMMpbcw5VQ/lMp/PaxdDcjJS0N6xO49AI4DMBxB6GgwYG7JkM6bckZQQXUh1k6ANWMWYArrEJhou0ApJHzTAtP9MdGxoHUxjarqsRIGC1POwlJEXXq8UWa8UmPvFUEwYJco29hjKBmmnBFUuO8jD5SBZJgC/yKMFpgG5EMN65vrjw0sTMMijay2mzE1DEyRq2gtwzSsTMBaF2iHaR/u+8T8qgxTYN690AjTYFmB406XH+NUf1xKF0SYAndnnsQY81Ex+BkLA2JMkYspJET2uIRzMQVu92+EabCshrNVVYgpRl0ZF1NkYJqRXz2AaVR2lNHAckw5rR2VJ85/V4wpO0i1wTQcOLhfPR2mJTH/HSTLYj5P28aOrzUx7aOBA6pjyrt0oS2mFHYwV8VUei8pCQJ3oSeWY2pYmEbQ4Wk3omxpw3R/iClExVnhM7lpXUzh05ji32LafQZTQSrVBNNnXAOyKqaYClCVMSXFtAGm5qSYDrXnTTFWqseFg/5FMe1FmEo6/6UxfSRuKIDHd+SmXf0h1CFMjQRT6P4aU/MJTCPzbiwPI5yQ+uRIvxOM9LtPjvRrY4rXx7R8h1QHkh1Sl503ha4Fpp+bNwVBiLo4pjhEZOVRgulwvlUoaIJpN5xoFeoemBrubjxvVdhwNVGFa/rxi3hxNH9bT/maPkeMoRDTM63p3wNT3m68+cDeAsmy/f1RF9NXdL3E3srnbpLinNiLb5fljz+gMqYf2yF1D0y5B6CtTfTLFnreEWjxftOAI4X4wQgmbPuKYh2cHmwtDD6mjMj97CvsNwXFNHcCmntQX4Jp8CbSbfc+BPbvl+7eN8Ld+yJMWYdMAmXlnTIB0e79m2DKF+RD+0w5W/dEfhbKuT5+CffLgf31YKhhT5yGbnrin4WiAkyJfxbK+P2RdRYKv86byqTOpnGMREbKwlR0snQ6bYnD/q7oGVTJsbXpqcY9xMn7mkyRDwVCZ/1gvdVSVNHJ0m/CtKnyvvgA9AusJDgmKDGBSoJz+mCf0weuoISl3CDClHtOH3ZF5Z3Tn8eZX4Xph2R4uXISL4S86ol1BBXbqp6YIky5gnx4TPXkmzBteBGkL84DMgmpXbgPTQoY0bk1kYiUPeEqw5StIbV61Pc7sTWkzBdi2jjqO9eNCER2R2MKR7IPq4NIks/TaBRgKlHh7XscFfkEAqf0jZg2v3AHW4hFOzK8zfRNUYippW86PJuYVN/0NpiOddoe09rS+81Fzf95wsynUYvG78T0Q5dBVr7I5LX4FWgnag5dIabNtPd7qfb+fTBteoGZe5MJNnCn+IGbTMT3QrVyp/7dmn+P6fNjmH7monKqfEfEso2a2t0LRcWYfuJeqG/DtKU7tbp/7UGUFfWHxs70LLfsgX/131dh2kEzTi1MqfIgCsRTp8XOVI6paX9n6fdhapqFfTuZqn+BGXSt3Km3f+mMN0CzMB3uhClX+/kYplT9bl3oGrlT8HZoyzFt4E79jbPfh2kHjTh1hqZ13Snam2Yrc+rXrRzT+oP9ftinat+GKTXiFHaRsAGm1a/a252oK8CUhsqcQqDvfBumhZwiijAdN83XHkLVD/v7U34FmE4+vi6l2H07pkWcYvYLsI+EUHfetH7YD5z/KMF0SqSqhnxSTAs4ZRykgn2gqsQp7uYpoR6l/gnXIkxrhv0+cKDrOzGdOJUcOWFg7b8kDbU4dfNHqsYphG6qKMKUeYMOe18qdorpxinwR0dyTKemgzrOFHfPrTPID95oUIAp90ayksT0GzDFmFwTso/gMy/Y3XsmrMPpbphTidMhqD5RiGktTiH2Uh/H1L1aF9piGpcTnE9dIg/SfOMFAmgVTjFySV2NK5HDGilFmFbhtIewzsZfYLrbVVC6kc/wMI3JCRLmT+Ivh+fzmAYvlarAaVAg5TinMUrLMa3AaQ8R1SLm3W18+ThgYYpiTKk+ppsYTozUJdyT4WEaaTo4Sil1tTmNUsoRh4mJv0+FPTjGByqTvvzHvsaEpwH8dGdukIVp8A04eW0mFOB2Wt6bv1+lTwBZh/0iSbCJn23mUhqNJOWgwhCtF1Nc1IXT/kBaGvEpPK1sgbQxT6qa3C+UjdY5nrjPhQKy5MVgM1dsjHN0GiPVNKfAlSldn1sMKcR6bz5wxIkwQ3Hg7xOUMvWuBZjmk1MPOsYpk+gb5G/c4QiyE4ZvYN9UbsyRS6UIih1qwumtz4VCSinlaLIxP/1Scofa2zpEXYn4pfA+g6xci9+eWdaeUY+IOcSfTJV7Mra82ZwEGOfE2EO4CLWb+wIscaWpuscSTmEY0vfPZnfkJrv+Mi4VgdrPX6Kk94NaF0RwdnX1oX0LfdkoiHKXlYvUw5fb18cb2L2r7FmjX8oM1USgZlvOeq4UUjAZR5Mqbu7yNRyEoPazK8UcVlDlhj3WZu69KOu0Hiy9sNTa1pmmNDHOj9xcH+wMj9Jhhdt2KII0e+n2IokKEtWe3H3zlFzMyN+yTCABdZVBM/mHQnJzgojS9PJuYPfL/IUUpZiu0VjEh5Q7Mmgr7VKmgvAgppvGLmMwhbyW856bF+zhob/MdmFUSzs78bNO9OWUePremk5hvFS4lBDcnMAJ++Gu1IfHBPMXgpBCulpM9KuxH3MrMk+q4S3+5wea60gNUj51Uz8D7jWx1qRaDtGsJ3WQcKfoENdpZMYTNmGzKKoro5sgK8NJQ0TYTXof3Jra99YL/v67h2gKsqbdFmVjZg3Zallq1P7uz/ZVkyyxO/kUqKxFxza/8M+pKOf+B9gJnCEihFT3GQPAqAafP7vGdDn7WTpL31Lae4ZR4GyFoe8nGNY/I7s/7mYOt7ekTm4G/Admqt/AfuoSBlaQKviqv5pvyzeu43t6j/7ZV0QgM+qY3eTXrobYPi/93P3smuihBiMPMYLeg/uyxub8pOjHbtIQWfR5saqKzl0y3sAIfyuUejk/73Us5qVQwCcqgZQzESYlFRJPpYI2hKOvRsnuU1DU3cxheX1Fn5fuibtqGYDbd3eVkXr52JAoXKEgum2nuHamzoGHqvxdEQaDcFFxK1pGxSSECnugrNvMIdGx+lqeR/Mjec8bPzxfMmdklUvLF8fvUtm0YKBn8Xf3m5LaXgtrqlT4Uuvh+d+/NLIayJizvNV5LbfIssIuvMUEtGrV6lkTAf6Cm8fV1NLOtLrUGRbMLqupJed06ztTUGeqVjvmqzNVO7lRi5ivzlStemoK6kzVvhBTHearnX8EpXOmaufHtGgBSk3to0EfNeSrtcB0qB7ydfykVtdqT0iBhny1BpjWnd4HDflqpx9DFRxoVFNjJqdYk1JNTNUaWL2NfEqpWlN3Ckqp2vmz0wqcolKq1nqwf5hTHJRStbacCk6Mpq420Zkoteb+9MB4H49IGKipiTgtAxVx0ICv9rlxVAmoCIO6UrWPWe4Sk+QdUaiuVO3DoHJJRab2mppaG1CzMjyWpKNCev2hScJkn//UCyO4klGuJs/437Y6H6r60eUZxbS8pncDO4Dg0y1fmyENWipzqHY+yza22U8JJeyTSJi05ugkz6stfItEL++OJEx/fB8nTTqcrqDxpDmqXvSLnKntIGmQfPrj+fUiyUrK51djahiYapRV+xNMjWKqppiqqeVSuuqYal6oVh9TEXiomKqdFFNrigmH001IqSmm/i2CKPo09xV0Cul78Xvf5rO/a2oHBIm4w8qU0rKOxLgDjNYLynX18yaMOjsz1hGQGddq3AsGU4OiEQpn4J5Z/gfZ0uRuN0H8+/41mqAbnq4PaXg/CDLG7ia94wm955pt3UccuMNXlob2roQ3x+hO/EtbyD++fQ8G55iMaJiOB9PQHHrBp8Y/qR71sha5qJrceXz4Y0yTuQblna461DtS+m7RMI8yTKESppkcl5k765n7u1EaXVlCH9PlGuJgprnDdP20KOADe+41Wx490HyTvFSEqXV4CAKjaQ9Ts23ylAzyofTtdDnhHmP84SimmUFKlQMmfPZYvU7j/m1DPt9fGYkfZEVgFntct6tbsm7tTPlhFUU/wECGxR4Jep2mp7d1poLsD0X9wFRxpiDqdRr2L2XQBFOLAqoQgoH9duxep+706jH/rbQABzHdyKPh8MhbMCoCcZ9Tu+Rs1Dz2Ds1TSjAFkjMmSEwAjduXIPZjv580BnVS6l6pKSbgkGC6Pog3LUuimL90JfShw9hrBHqdRv3rpqZJGQgjHtF0vINT6RBMcUe4gIq5V07+Se1qmJpUQmDCjtZTD0lDDeFPoyQxsf0goa33BIIZBx3rXxdTh4AowwS+JhhhnDxLs3FaoaJ9rpgaeCObL0oBjZqc3hLTlKudhi/2yQ1K5A/TxUrJAwACTA0bU0g5ZcX0/piOR5KoY2Ow26bPZ2/3UWKnB8hmWO2yuSkJBx0oGUoT/9mgmCqmgiOhRjYHS5JfRsVUje0Bk6I6VTHFYkw1N1VMU5OjJpWapjB9n/83xd6UP0QXjfR1Quo6ZiLbmoOHOC1PC4EN0LHgPE9IuXNONBRj6nYXBOsUgM6b3sNGYRPbs0FYEiK9VIShnfqxoGqC+/oTkZzQfcdE9rH2prkPQJRF0lWo60CKu7MdR/ebLuhRbHeACR1A2Z9QJtdR2+9IsYMstlALRDZF7z+pa/pnj/BQujPEwdTs9/1hfP0TfC2e8KdDG6og5fHRu5AEY6WB8LZEjfmXyENNgoE0psxvkKQbQPAdUdKVTFd0/lDt3HOkJHanJhaDE+Axk4rIFidJxwBRDqPTURcZ1It2j1rfMC1cr0kOw3g7B0nS6dSZXmSKFDtp2DcCrJfpJxD5Ngwfam5wslR5uEbM31qKoIE3RZGvjnp2QWYCksLoMP9ymEabFsszRejis0mJUXd0nop/mNVoyL8ppmEKwBCwEsj08WLRaWmMej1gO0gj+UG1y+Smwdn59ybmCKYM8kyie6TyxMT2EGD/pAH1pfcb6a+gggvpPmAT00O6+mW5bDGl5MO/agLZv6g6vFeK+oGx7rTgv93WbeJeLwUCUsaPJ3oLJkY6qR/FLhkbUm+ndi4jYeSjxF67OAj8+xpCR/UIEjkkIXB/04C60suGfYi6n4B4M0GBx4phEP50QIY3/o5RUMO/aUAhvao/XVrZyx7RPsu8hN/szjcy3u4PSOmUvz/tieZQEugIU+5jAONB3P1F0AvMLgSqv9/UdZvvtiQa77HLxufpu34+m/l1zqfHR6Y/MD2H8ZvLLyqid5tQBdDJRrXTT1TpbKPaCU03a6hdIFsFdaZq58dUtm9ZTe28mKpUvdqpBvoa8tWuOtJXStXO706VUrXTj/V1JVztFJyijvHVrpCfgm7PVLuCRw1e8aU7NtROR+p7axIspruK1NTU1NQ+Yf8FGACWqWpL4nXOowAAAABJRU5ErkJggg==);
}
.title {
    gap: 30px;
    padding: 60px;
    height: 300px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: linear-gradient(to bottom, transparent, #eee), linear-gradient(to top, transparent, #eee), url(mascot.png);
}
.container {
    width: calc(100% - 50px);
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 25px;
}
.grid, .categories {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tower_r {
    gap: 15px;
    width: 30%;
    margin-left: 25px;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    background-color: #eee;
    flex-direction: column;
    box-sizing: border-box;
}
.tower_r .tag {
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-left: 40px;
    text-shadow: unset;
    text-align: left;
}
.page {
    width: 70%;
    border: 5px solid #eee;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    object-fit: contain;
}
.thumbnail {
    aspect-ratio: 3 / 2;
    border: 4px solid;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease;
 flex: 0 0 calc((100% - (4 - 1) * 10px) / 4);
}
.thumbnail:hover {
    transform: scale(1.02);
}
.thumbnail span {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    position: absolute;
    background-image: linear-gradient(to top, transparent, #333);
    opacity: 0;
}
.thumbnail span:hover {
    opacity: 0.9;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}
.gsc-search-button {
    width: 75px !important;
    height: 30px;
    margin-left: 0 !important;
    border-radius: 0 15px 15px 0 !important;
    background-color: #66cc33 !important;
    border-color: #66cc33 !important;
}
.gsc-search-button:hover {
    opacity: 0.9;
}
.gsc-search-box {
    margin: 0 !important;
}
.gsc-input {
    height: 30px;
    padding-right: 0 !important;
}
.gsc-input-box {
    border: 1px solid #ccc !important;
    border-radius: 15px 0 0 15px;
}
.tag {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    text-align: center;
    text-shadow: 0 0 1px #000;
    transition: transform 0.2s ease;
}
.tag:hover {
    transform: scale(1.02);
    text-decoration: none;
}
.more {
    background-color: #0099cc !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGxpbmUgeDE9IjEyIiB5MT0iNSIgeDI9IjEyIiB5Mj0iMTkiIC8+PGxpbmUgeDE9IjUiIHkxPSIxMiIgeDI9IjE5IiB5Mj0iMTIiIC8+PC9zdmc+);
}
.download {
    background-color: #66cc33 !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PHBhdGggZD0iTTQgMTd2MmEyIDIgMCAwIDAgMiAyaDEyYTIgMiAwIDAgMCAyLTJ2LTIiIC8+PHBvbHlsaW5lIHBvaW50cz0iNyAxMSAxMiAxNiAxNyAxMSIgLz48bGluZSB4MT0iMTIiIHkxPSI0IiB4Mj0iMTIiIHkyPSIxNiIgLz48L3N2Zz4=);
}
.print {
    background-color: #ff9933 !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cGF0aCBkPSJNNiA5VjJoMTJ2NyIgLz48cGF0aCBkPSJNNiAxOEg0YTIgMiAwIDAgMSAtMiAtMnYtNWEyIDIgMCAwIDEgMiAtMmgxNmEyIDIgMCAwIDEgMiAydjVhMiAyIDAgMCAxIC0yIDJoLTIiIC8+PHJlY3QgeD0iNiIgeT0iMTQiIHdpZHRoPSIxMiIgaGVpZ2h0PSI4IiAvPjwvc3ZnPg==);
}
.save {
    background-color: #ffffff !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBhcmlhLWxhYmVsPSJQaW50ZXJlc3QiIHJvbGU9ImltZyI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTIiIGZpbGw9IiNFNjAwMjMiLz48cGF0aCBkPSJNMTIuNCA2Yy0zLjEgMC01LjQgMi4yLTUuNCA1LjEgMCAxLjMuNSAyLjUgMS42IDMgLjIuMS4zIDAgLjMtLjJsLjEtLjZjMC0uMiAwLS4yLS4yLS40LS4zLS40LS42LTEuMS0uNi0xLjggMC0yLjMgMS43LTQuMyA0LjQtNC4zIDIuNCAwIDMuNyAxLjUgMy43IDMuNCAwIDIuNi0xLjEgNC44LTIuOCA0LjgtLjkgMC0xLjYtLjgtMS40LTEuNy4zLTEuMS44LTIuMi44LTMgMC0uNy0uNC0xLjMtMS4yLTEuMy0xIDAtMS44IDEuOC0xLjggMi4zIDAgLjguMyAxLjQuMyAxLjRsLTEuMSA0LjZjLS4zIDEuMyAwIDIuOSAwIDMuMSAwIC4xLjEuMi4yLjEuMS0uMSAxLjMtMS41IDEuNy0yLjcuMS0uMy41LTEuOC41LTEuOC4zLjYgMS4xIDEuMiAyLjEgMS4yIDIuNyAwIDQuNi0yLjUgNC42LTUuOCAwLTMuNy0yLjQtNi0zLjUtNnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
    color: unset !important;
    border: 1px solid #ccc;
}
#___gcse_0 {
    width: calc(100% - 360px);
    margin-right: 60px;
}
